/* 
	Inicializacion de mis estilos
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin de la inicializacion*/


header
{
	font-family: sans-serif;
}

#principal
{
	width: 1000px;
	height: 180px;
	background: #18191b;
	margin: auto;

}

#header-content
{
	
}

#logo-container
{
	height: 118px;
}

#menu-principal
{
	height: 62px;
	background: #1f1f21;
}

#menu-principal ul
{
	background: #1f1f21;
	float: left;

	border-top:solid; 
	border-top-width:1px;
	border-color: #18191b;


	margin-left: 20px;
	margin-right: 20px;
	
}

#menu-principal ul li
{
	
	float: left;
	color: #ffffff;
	border-left: solid;
	border-left-color: #28282b;
	border-left-width: 1px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100px;
}

#menu-principal ul li a
{
	color: #ffffff;
	margin-top: 24px;
	text-decoration: none;	
	float: left;
	height: 37px;
	display: inline-block;
	width: 100%;
	clear: both;
	font-family: georgia;
	/*margin-left: 20px;
	margin-right: 20px;*/
}








